@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: "Pretendard", serif;
}

body {
    background-color: #8F1517;
}

.profile {
    width: 100px;
    height: 100px;

    border-radius: 100%;

    border: 2px solid black;

    background-image: url('BackImg.png');
    background-position: center;
    background-size: cover;

}

.main {
    color: black;
    font-size: 20px;

    margin-top: 30px;
    margin-bottom: 10px;
}

.sub {
    color: black;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.wrap {
    width: 300px;
    margin: 30px auto 0px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap>a {
    width: 300px;
    height: 50px;

    background-color: black;
    border-radius: 8px;

    margin-bottom: 10px;

    font-size: 14px;
    font-weight: bold;
    color: #8F1517;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    box-shadow: 3px 3px 5px 0px black;
}

.wrap>a:hover {
    background-color: #f2f2f2;
}
